ul {
    list-style: none;
}
span {
    display: inline-block;
    background: transparent;
}

span:hover {
    background: rgba(192, 192, 192);
    cursor: pointer;
}

.focused {
    background: rgba(192, 192, 192);
    cursor: pointer;
}

.show {
    display: block;
}

.close {
    display: none;
}

input {
    border: none;
    background: none;
}
input:hover {
    cursor: pointer;
}

i {
    color: yellow;
}

.file {
    color: gray;
}

.clickMenu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    box-shadow: 2px 2px 5px 1px rgba(168,166,168,1);
    
}

.clickMenu.active{
    display: block;
}

.clickMenu li {
    background-color: rgb(243, 243, 243);
    padding: 0 10px;
}

.clickMenu li:hover {
    cursor: pointer;
    background: rgba(192, 192, 192);
}