ul {
    list-style: none;
}
span {
    display: inline-block;
    background: transparent;
}

span:hover {
    background: rgba(192, 192, 192);
    cursor: pointer;
}

.open {
    display: block;
}

.close {
    display: none;
}

input {
    border: none;
    background: none;
    outline: none;
}
input:hover {
    cursor: pointer;
}

i {
    color: yellow;
}

.file {
    color: gray;
}
