$main-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Fresca', sans-serif;
$header-font-color: #fff;
$main-font-color: #c0c3ce;
$word-background: #ff4e33;
$button-color: #e3ac00;
$white-color: #fff;
$header-background: url(../img/m-h-night.jpg);
$section-footer-background: #3b3f50;
$body-background: #21232e;
$banner-background: linear-gradient(50deg, rgba(218,158,9,1) 0%, rgba(148,46,82,1) 100%);
$img-width: (
  first: 383px,
  second: 373px,
  third: 415px
);
$text-section-width: (
  first: 510px,
  second: 517px,
  third: 478px
);
