$main-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Hind', sans-serif;
$header-font-color: #2c2f3c;
$main-font-color: #c0c3ce;
$word-background: #14a0c7;
$button-color: #699900;
$white-color: #fff;
$header-background: url(../img/m-h-day.jpg);
$section-footer-background: #21232e;
$body-background: #fff;
$banner-background: linear-gradient(90deg, rgba(101,149,15,1) 0%, rgba(45,91,215,1) 100%);
$img-width: (
  first: 370px,
  second: 356px,
  third: 398px
);
$text-section-width: (
  first: 519px,
  second: 530px,
  third: 495px
);
